{% extends "base.html" %}

{% block title %}
<h1 class='text-center py-4'>{{title}}</h1>
{% endblock title %}


{% block content %}

{% load crispy_forms_tags %}

<form class="col-6 mx-auto card p-3 shadow-lg" method="POST">
    {% csrf_token %}
    
    {% if messages %}
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Render the form fields -->
    <div class="mb-3">
        <label for="{{ form.recipient_account_number.id_for_label }}" class="form-label">
            {{ form.recipient_account_number.label }}
        </label>
        {{ form.recipient_account_number }}
    </div>
    
    <div class="mb-3">
        <label for="{{ form.amount.id_for_label }}" class="form-label">
            {{ form.amount.label }}
        </label>
        {{ form.amount }}
    </div>

    <button type="submit" class="btn btn-primary">Transfer</button>
</form>
{% endblock content %}